/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/layout/headers/header.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.topBar__one {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  height: 8vh;
}






